nav{
    font-family: Italianno;
}

.mainNav{
    height: 40px;
    background: lavender;
    font-family: Italianno;
    padding: 5px;
}

CSStagn{
    background: purple;
    color: rosybrown;
}

#link {
    background: powderblue;
    color: royalblue;
}

.class{
    font-size: 14em;
    color:goldenrod;  
}

[href]{
    background: rgba(14, 230,7, 0.7);
}

CSStagn CSStagm{
    background: black;
}

#link, CSStagn{
    background:palevioletred;
}

[href].CSStagm{
    background:rebeccapurple;
    color: seagreen;
}

p {
    font-family: Italianno;
}

input:disabled + span::after {content: " nicht auswählbar"}
      input:enabled + span::after {content: " auswählbar"}
      input:checked + span::after {content: " ausgewählt"}
      input:disabled { outline: 2px solid darkred;}
      input:checked  { outline: 2px solid lightgreen; }

a:hover {
     background-color: lavender;     
    }

.exciting-text::after {
    content: "Interesting things!";
        color: plum;
    }

q::before {
    content: "*";
    color: blue;
    }

p::selection {
    color: white;
    background: black;
  }

